[Desktop Entry]
Name=Switching Extension
Icon=preferences-system-windows-script-test

X-Plasma-API=javascript
X-Plasma-MainScript=code/switching.js
X-KWin-Exclude-Listing=false

X-KDE-PluginInfo-Author=Yichao Yu
X-KDE-PluginInfo-Email=yyc1992@gmail.com
X-KDE-PluginInfo-Name=kwin-script-switching
X-KDE-PluginKeyword=kwin-script-switching
X-KDE-ParentComponents=kwin-script-switching
X-KDE-PluginInfo-Version=0.1.0

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script,KCModule
X-KDE-Library=kwin/effects/configs/kcm_kwin4_genericscripted
Type=Service
